.header button{
    writing-mode: vertical-lr;
    border: 5px solid black;
    border-block-end-color: red;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 7px;
    line-height: 2.5;
    font-size: 1rem;
}

.header button:hover{
    color: gold;
}

.header button:active{
    box-shadow: inset 2px 2px 3px rebeccapurple;
}

.neko{
    background-color:cornflowerblue;
    border-block: solid;
    writing-mode: horizontal-tb;
    text-align: center;
    padding: 20px;
}

.neko ul{
    margin: 0 ;
    padding: 0 ;
}
.neko ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
}
.neko ul li a{
    font-family: serif;
    font-size: 20px;
    color: #333;
}

.neko ul li a:hover{
    color: #E7DA66;
}


.body {
    background-color: darkseagreen;
    color: black;
    padding: 20px;
    height: 99999px;
    margin: 7px auto;
    border-radius: 20px;
    box-shadow: #999999 10px 10px 10px;
    font-family: "serif";
}
.baka{
    color: black;
    top: 0;
    left: 0;
    text-shadow: red 5px 5px 5px;
    animation: rotation 4s linear infinite;
}
@keyframes rotation {
    0% {transform: rotate(0);
        font-size: 10px;}
    50% {transform: rotate(240deg);
        font-size: 100px;}
    75% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);
        font-size: 10px;}
}

.boke{
    font-weight: bold;
}

.boke:hover {
    color: #ff7ff2;
    transform: rotate(-180deg);
}

.aho{
    display: flex;
    padding: 5px;
}

.manuke {
    border: thick double aquamarine;
    background-color: aquamarine;
}
.manuke h2 {
    background-color: aqua;
}
.manuke h2:hover {
    display: none;
}
